<header class="o-page__header c-header">
    <a href="{{$.Prefix}}" >
        <img class="c-header__brand" src="{{$.Prefix}}assets/nomitri-logo.png" width="20px" height="20px"/>
    </a>
    <nav class="c-header__nav">
        <ul>
            <li><h2>Nomitri Retail API Documentation</h2></li>
        </ul>
    </nav>
</header>
